<footer (scroll)="onWindowScroll()">
  <div class="footer-content" [ngsReveal]="{ reset: true }">
    <div class="imprint-links">
      <a routerLink="imprint">Impressum</a>
      <a routerLink="dataprivacy">Datenschutz</a>
    </div>
    <div class="footer-links" [ngsReveal]="{ reset: true }">
      <fa-icon class="fab fa-linkedin black" [icon]="faGithub"></fa-icon>
      <fa-icon class="fab fa-linkedin black" [icon]="faXing"></fa-icon>
      <fa-icon class="fab fa-linkedin black" [icon]="faLinkedin"></fa-icon>
    </div>
  </div>
</footer>
