<header [class.is-scrolling]="offset">
  <div class="container">
    <a routerLink="" class="logo">P.R </a>

    <nav>
      <span
        *ngIf="this.darkmodeService.theme === 'light-theme'"
        class="toggle theme-btn light-btn"
        (click)="this.darkmodeService.switchTheme()"
      >
        {{ this.darkmodeService.theme === "dark-theme" ? "Light" : "Dark" }}
      </span>
      <span
        *ngIf="this.darkmodeService.theme === 'dark-theme'"
        class="toggle theme-btn dark-btn"
        (click)="this.darkmodeService.switchTheme()"
      >
        {{ this.darkmodeService.theme === "light-theme" ? "Dark" : "Light" }}
      </span>
      <a routerLink="" (click)="scrollToTop()">Home</a>
      <a href="#about">About</a>
      <a href="#work">Projects</a>
    </nav>

    <a class="hamburger" id="nav-icon4" (click)="isActive = !isActive">
      <div class="bar"></div>
    </a>
  </div>
</header>
<nav class="mobile-nav" [ngClass]="isActive ? '' : 'is-active'">
  <a routerLink="" (click)="scrollToTop(); isActive = !isActive">Home</a>
  <a href="#about" (click)="isActive = !isActive">About</a>
  <a href="#work" (click)="isActive = !isActive">Projects</a>
  <a
    class="toggle theme-btn light-btn"
    [class.dark-btn]="this.darkmodeService.theme === 'dark-theme'"
    (click)="this.darkmodeService.switchTheme()"
  >
    {{ this.darkmodeService.theme === "light-theme" ? "Light" : "Dark" }}
  </a>
</nav>
