<!-- <nav class="darkMode" [ngClass]="{ 'small-header': scrollPos }">
  <input type="checkbox" id="check" />
  <label for="check" class="checkbtn"></label>
  <div class="logo-container fade-in">
    <img src="../../../assets/img/icons/LogoMakr-7GYXqK.png" alt="" />
  </div>
  <div class="link-container" #menu>
    <a class="fade-in" href="#">Home</a>
    <a class="fade-in" href="#about">About me</a>
    <a class="fade-in" href="#work">Work</a>
    <fa-icon
      *ngIf="theme === 'light-theme'"
      class="fas fa-adjust toggle"
      [icon]="faAdjust"
      (click)="switchTheme()"
    ></fa-icon>
    <button class="toggle" (click)="switchTheme()">
      {{ theme === "light-theme" ? "Switch to dark" : "Switch to light" }}
    </button>
  </div>
  <div class="hamburger">
    <div class="slice"></div>
    <div class="slice"></div>
    <div class="slice"></div>
  </div>
</nav> -->

<header [class.is-scrolling]="offset">
  <div class="container">
    <img
      class="logo"
      src="../../../assets/img/icons/LogoMakr-7GYXqK.png"
      alt=""
    />
    <nav>
      <a href="#">Home</a>
      <a href="#">About me</a>
      <a href="#">Projects</a>

      <button
        class="toggle light-btn"
        [class.dark-btn]="theme === 'dark-theme'"
        (click)="switchTheme()"
      >
        {{ theme === "light-theme" ? "Dark" : "Light" }}
      </button>
    </nav>

    <button
      class="hamburger"
      (click)="isActive = !isActive"
      [ngClass]="isActive ? '' : 'is-active'"
    >
      <div class="bar"></div>
    </button>
  </div>
</header>
<nav class="mobile-nav" [ngClass]="isActive ? '' : 'is-active'">
  <a href="#">Home</a>
  <a href="#">About me</a>
  <a href="#">Projects</a>
  <button
    class="toggle light-btn"
    [class.dark-btn]="theme === 'dark-theme'"
    (click)="switchTheme()"
  >
    {{ theme === "light-theme" ? "Dark" : "Light" }}
  </button>
</nav>
