<section id="work">
  <div
    class="btn-container"
    [ngsRevealSet]="{ reset: true }"
    [ngsSelector]="'button'"
  >
    <button class="button" (click)="showAll()">All</button>
    <button class="button" (click)="showCategory('angular')">Angular</button>
    <button class="button" (click)="showCategory('js')">JS</button>
  </div>

  <div class="container">
    <div
      [ngsReveal]="{ reset: true }"
      class="project-unit"
      *ngFor="let project of this.clearedProjects"
    >
      <img src="{{ project.src }}" alt="" />
      <div class="overlay">
        <h2>{{ project.title }}</h2>
        <p>{{ project.description }}</p>
        <button class="button">Try out</button>
      </div>
    </div>
  </div>
</section>
