section {
  min-height: 100vh;

  display: flex;
  align-items: center;

  flex-direction: column;
  gap: 30px;
  color: var(--text-color);
  background-color: var(--background-color-sec);
  padding: 100px 0;
  width: 100%;

  .btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      min-width: 7vw;
    }
  }

  .project-unit {
    position: relative;
    box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.116);
    // background-color: rgba(79, 80, 79, 0.445);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    min-height: 35vh;
    max-height: 35vh;

    border-top: 1px solid rgba(255, 255, 255, 0.37);
    border-left: 1px solid rgba(255, 255, 255, 0.322);

    img {
      min-height: 35vh;
      max-height: 35vh;
      border-radius: 15px;
      width: 100%;
      background-size: cover;
      object-fit: cover;
      @media (max-width: 900px) {
        img {
          min-height: 15vh;
          max-height: 15vh;
        }
      }
    }
    button {
      margin-top: 20px;
    }

    .overlay {
      position: absolute;
      inset: 0 0 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 15px;
      transition: 400ms ease-in-out;
      opacity: 0.8;
      z-index: 1;
      min-height: 35vh;
      max-height: 35vh;
      background-color: var(--box-color);
      color: var(--text-color);
      transition: 225ms ease-in-out;
      background-size: cover;

      @media (max-width: 900px) {
        .overlay {
          min-height: 15vh;
          max-height: 15vh;
        }
      }

      .project-title {
        font-size: 30px;
      }

      .project-desc {
        font-size: 20px;
      }

      button {
        opacity: 0;

        &:hover {
          opacity: 1;
        }
      }

      &:hover {
        transition: 225ms ease-in-out;
        opacity: 1;
        h2 {
          transform: translateY(-5px);

          transition: 225ms ease-in-out;
        }
        button {
          opacity: 1;
        }
      }

      @media (max-width: 900px) {
        .project-title {
          font-size: 25px;
        }

        .project-desc {
          display: none;
        }
      }
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(clamp(200px, 20vw, 40vw), 1fr)
    );
    max-width: 70%;

    // height: clamp(50vh, 70vh, 80vh);
    // min-height: clamp(50vh, 70vh, 80vh);
    text-align: center;

    gap: 10px;
    width: 100%;

    @media (max-width: 900px) {
      max-width: 90%;
    }
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}
