<section id="about">
    <div class="container" [ngsRevealSet]="{ reset: true }" [ngsSelector]="'.about'">
        <div class="profile-img about">
            <img src="../../../../assets/img/profile-img.jpg" alt="" />
            <!-- <div class="personal-picture"></div> -->
        </div>

        <div class="about-text about">
            <h2>About me</h2>
            <p>
                I started in the automotive industry. In my free time I like to take care of my family's car pool. Nowadays i also like to deal with programming.
            </p>
        </div>

        <div class="about-seperate">
            <hr />
        </div>

        <div class="about-unit1 about">
            <div class="icon-bg">
                <img src="../../../../assets/img/icons/walk-line.png" alt="search-icon" />
            </div>

            <h3>MY JOURNEY BEGAN</h3>
            <p>
                In my near past i had many small touch points with programming. I started to get interested in this area and worked out my first steps on my own.
            </p>
        </div>
        <div class="about-unit2 about">
            <div class="icon-bg">
                <img src="../../../../assets/img/icons/heart-line.png" alt="heart-icon" />
            </div>

            <h3>A NEW PASSION</h3>
            <p>
                I have decided to integrate more and more programming in my life. After a certain time I wanted to get trained to validate and improve my previous knowledge.
            </p>
        </div>
        <div class="about-unit3 about">
            <div class="icon-bg">
                <img src="../../../../assets/img/icons/search-line.png" alt="walk-icon" />
            </div>
            <h3>KEEP LEARNING</h3>
            <p>
                After doing some research, I signed up with Developer Academy to get trained by a professional team to get me to a passable level for a junior frontend developer position.
            </p>
        </div>
        <div class="about-unit4 about">
            <div class="icon-bg">
                <img src="../../../../assets/img/icons//flight-takeoff-line.png" alt="take-off-icon" />
            </div>
            <h3>NEW CHALLANGES</h3>
            <p class="about-desc">
                Now I am continuously improving my acquired skills and would like to challenge myself with new tasks.
            </p>
        </div>
    </div>
</section>
