section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-height: 100vh;
  width: auto;
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
  scroll-snap-align: start;
  scroll-margin-top: 60px;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 10em 1fr;

    place-items: center;
    gap: 20px 10px;
    width: 80%;
    text-align: center;
    grid-template-areas:
      "profile-img profile-img about-text about-text"
      "about-seperate about-seperate about-seperate about-seperate"
      "about-unit1 about-unit2 about-unit3 about-unit4";
    @media (max-width: 900px) {
      width: 90%;
    }
  }
  .profile-img {
    grid-area: profile-img;
    place-items: center;

    img {
      height: 300px;
      width: 300px;
      border-radius: 50%;
      object-fit: cover;
    }

    .personal-picture {
      width: 260px;
      height: 250px;
      object-fit: contain;
      background-color: var(--box-color);
    }
  }
  .about-text {
    margin: auto;
    grid-area: about-text;
    width: 80%;
  }

  .about-seperate {
    grid-area: about-seperate;
    width: 100%;
  }
  .about-unit1 {
    grid-area: about-unit1;
    max-width: 300px;
  }
  .about-unit2 {
    grid-area: about-unit2;
    max-width: 300px;
  }
  .about-unit3 {
    grid-area: about-unit3;
    max-width: 300px;
  }
  .about-unit4 {
    grid-area: about-unit4;
    max-width: 300px;
  }

  @media (max-width: 1400px) {
    // grid-area: auto;
    .container {
      margin: 100px 0;
      gap: 50px;
      grid-template-columns: 1fr;
      grid-template-areas:
        "profile-img"
        "about-text"
        "about-seperate"
        "about-unit1"
        "about-unit2"
        "about-unit3"
        "about-unit4";
    }
  }
}

.icon-bg {
  // background-color: var(--button-color);
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #14253d,
    #4271c8,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1a36ae,
    #3672e1,
    #1f1f8b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 100%;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-bottom: 30px;
  img {
    height: 35px;
    width: 35px;
  }
}
