<section id="about">


  <div
    class="container"
    [ngsRevealSet]="{ reset: true }"
    [ngsSelector]="'.about'"
  >
    <div class="profile-img about">
      <img src="../../../../assets/img//_74A4815_BE3.jpg" alt="" />
      <!-- <div class="personal-picture"></div> -->
    </div>

    <div class="about-text about">
      <h2>About me</h2>
      <p>
        Diligent firefighter with 7+ years of experience providing emergency
        services for the City of Jacksonville, AR. Excellent team player with
        quick decision-making skills and the ability to remain calm under
        stress. Have administered
      </p>
    </div>

    <div class="about-seperate">
      <hr />
    </div>

    <div class="about-unit1 about">
      <div class="icon-bg">
        <img src="../../../../assets/img/icons/search-line.png" alt="" />
      </div>

      <h3>Der Anfang</h3>
      <p>
        Lorem, ipsum dolor sit amet con23r23r23rsecteturmmodi provident quisquam
        vel ut.
      </p>
    </div>
    <div class="about-unit2 about">
      <div class="icon-bg">
        <img src="../../../../assets/img/icons/heart-line.png" alt="" />
      </div>

      <h3>Der Prozess</h3>
      <p>
        Lorem, ipsum dolor sit amet con23r23r23rsecteturmmodi provident quisquam
        vel ut.
      </p>
    </div>
    <div class="about-unit3 about">
      <div class="icon-bg">
        <img src="../../../../assets/img/icons/walk-line.png" alt="" />
      </div>
      <h3>Die Veränderung</h3>
      <p>
        Lorem, ipsum dolor sit amet con23r23r23rsecteturmmodi provident quisquam
        vel ut.
      </p>
    </div>
    <div class="about-unit4 about">
      <div class="icon-bg">
        <img
          src="../../../../assets/img/icons//flight-takeoff-line.png"
          alt=""
        />
      </div>
      <h3>Mein Ziel..</h3>
      <p>
        Lorem, ipsum dolor sit amet con23r23r23rsecteturmmodi provident quisquam
        vel ut.
      </p>
    </div>
  </div>
</section>
