<section id="about">
  <!-- <div class="container">
    <div class="about-me-text">
      <h1>About me</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quam libero optio pariatur non
        architecto aut. Ea deleniti saepe praesentium.</p>
    </div>

    <div class="about-me-img">
      <img src="../../../../assets/img/person-transparent-background-2.png" alt="">
    </div>
    <div class="about-unit">
      <img src="../../../../assets/img/icons/walk-line.png">
      <h3>MY JOURNEY BEGAN</h3>
      <p>Lorem, ipsum dolor sit amet con23r23r23rsecteturmmodi provident quisquam vel ut.</p>
    </div>
    <div class="about-unit">
      <img src="../../../../assets/img/icons/walk-line.png">
      <h3>MY JOURNEY BEGAN</h3>
      <p>Lorem, ipsum dolor sit amet con23r23r23rsecteturmmodi provident quisquam vel ut.</p>
    </div>
    <div class="about-unit">
      <img src="../../../../assets/img/icons/walk-line.png">
      <h3>MY JOURNEY BEGAN</h3>
      <p>Lorem, ipsum dolor sit amet con23r23r23rsecteturmmodi provident quisquam vel ut.</p>
    </div>
    <div class="about-unit">
      <img src="../../../../assets/img/icons/walk-line.png">
      <h3>MY JOURNEY BEGAN</h3>
      <p>Lorem, ipsum dolor sit amet con23r23r23rsecteturmmodi provident quisquam vel ut.</p>
    </div>
  </div> -->

  <div
    class="container"
    [ngsRevealSet]="{ reset: true }"
    [ngsSelector]="'.about'"
  >
    <div class="profile-img about">
      <img
        src="../../../../assets/img/person-transparent-background-2.png"
        alt=""
      />
    </div>

    <div class="about-text about">
      <h1>About me</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        quam libero optio pariatur non architecto aut. Ea deleniti saepe
        praesentium.
      </p>
    </div>

    <div class="about-seperate">
      <hr />
    </div>

    <div class="about-unit1 about">
      <img
        class="about-icon"
        src="../../../../assets/img/icons/walk-line.png"
      />
      <h3>MY JOURNEY BEGAN</h3>
      <p>
        Lorem, ipsum dolor sit amet con23r23r23rsecteturmmodi provident quisquam
        vel ut.
      </p>
    </div>
    <div class="about-unit2 about">
      <img
        class="about-icon"
        src="../../../../assets/img/icons/walk-line.png"
      />
      <h3>MY JOURNEY BEGAN</h3>
      <p>
        Lorem, ipsum dolor sit amet con23r23r23rsecteturmmodi provident quisquam
        vel ut.
      </p>
    </div>
    <div class="about-unit3 about">
      <img
        class="about-icon"
        src="../../../../assets/img/icons/walk-line.png"
      />
      <h3>MY JOURNEY BEGAN</h3>
      <p>
        Lorem, ipsum dolor sit amet con23r23r23rsecteturmmodi provident quisquam
        vel ut.
      </p>
    </div>
    <div class="about-unit4 about">
      <img
        class="about-icon"
        src="../../../../assets/img/icons/walk-line.png"
      />
      <h3>MY JOURNEY BEGAN</h3>
      <p>
        Lorem, ipsum dolor sit amet con23r23r23rsecteturmmodi provident quisquam
        vel ut.
      </p>
    </div>
  </div>
</section>
