section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-height: 100vh;
  width: auto;
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
  scroll-snap-align: start;
  scroll-margin-top: 60px;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 10em 1fr;

    place-items: center;
    gap: 20px 10px;
    width: 80%;
    text-align: center;
    grid-template-areas:
      "profile-img profile-img about-text about-text"
      "about-seperate about-seperate about-seperate about-seperate"
      "about-unit1 about-unit2 about-unit3 about-unit4";
  }
  .profile-img {
    grid-area: profile-img;
    place-items: center;

    img {
      width: 260px;
      height: 250px;
      object-fit: contain;
    }
  }
  .about-text {
    margin: auto;
    grid-area: about-text;
    width: 80%;
  }

  .about-seperate {
    grid-area: about-seperate;
    width: 100%;
  }
  .about-unit1 {
    grid-area: about-unit1;
  }
  .about-unit2 {
    grid-area: about-unit2;
  }
  .about-unit3 {
    grid-area: about-unit3;
  }
  .about-unit4 {
    grid-area: about-unit4;
  }

  @media (max-width: 1300px) {
    // grid-area: auto;
    .container {
      margin: 200px 0;
      grid-template-columns: 1fr;
      grid-template-areas:
        "profile-img"
        "about-text"
        "about-seperate"
        "about-unit1"
        "about-unit2"
        "about-unit3"
        "about-unit4";
    }
  }
}

.about-icon {
  width: 50px;
  background-color: var(--button-color);
  border-radius: 100%;
  padding: 10px;
}
