<div
  id="contact"
  class="container"
  [ngsRevealSet]="{ reset: true }"
  [ngsSelector]="'.form-control'"
>
  <div class="contact">
    <h2>Contact me.</h2>
    <p>
      Get in touch via the form below, or by emailing <br /><br /><a
        href="mailto:kontakt@rehmann-peter.de"
        class="email"
        >kontakt@rehmann-peter.de</a
      >
    </p>

    <form
      #form
      action="https://formsubmit.co/d42d9054c2e6fc273ebfb16a05983164 "
      method="POST"
      [formGroup]="contactForm"
    >
      <input type="hidden" name="_next" value="https://rehmann-peter.de" />
      <input type="hidden" name="_subject" value="New submission!" />
      <input type="hidden" name="_captcha" value="false" />
      <div class="form-input-unit">
        <label for="">Name</label>
        <input
          name="name"
          class="form-control"
          formControlName="name"
          type="text"
          placeholder="Enter your name"
        />
        <small
          class="error-message fade-in"
          *ngIf="name.invalid && name.touched"
          >{{
            name.hasError("required")
              ? "Name is required"
              : "At least 3 characters"
          }}</small
        >
      </div>
      <div class="form-input-unit">
        <label for="">Email address</label>
        <input
          name="email"
          class="form-control"
          formControlName="email"
          type="text"
          placeholder="Enter you Email address"
        />
        <small
          class="error-message fade-in"
          *ngIf="email.invalid && email.touched"
          >{{
            email.hasError("required")
              ? "Email is required"
              : "Please enter a valid email"
          }}</small
        >
      </div>
      <div class="form-input-unit">
        <label for="d">Message</label>
        <textarea
          name="message"
          class="form-control"
          formControlName="message"
          cols="30"
          rows="10"
          placeholder="Enter your message"
        ></textarea>
        <small
          class="error-message fade-in"
          *ngIf="message.invalid && message.touched"
          >{{
            message.hasError("required")
              ? "Message is required"
              : "Should be at least 10 characters long"
          }}</small
        >
      </div>

      <button class="submit-btn" type="submit" (click)="onSubmit(form)" [disabled]="!contactForm.valid">
        Send
      </button>
    </form>
  </div>
</div>
