<div class="container-imprint">
  <h2>Impressum</h2><br>

  <h3>Angaben gem&auml;&szlig; &sect; 5 TMG</h3>
  <p>Peter Rehmann<br />

  Ringstr. 5<br />
  97232 Giebelstadt</p><br><br>

  <h3>Kontakt</h3>
  <p>Telefon: +49 (0) 123 44 55 66<br>

  E-Mail: kontakt@rehmann-peter.de</p><br><br>

  <h3>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h3>
  <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

  <p>Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a></p>
  </div>
