<section class="container personal-theme">
  <!-- <img
    class="curve fade-in"
    src="../../../assets/img/vecteezywhite-backgroundYK0221_generated.jpg"
  /> -->
  <div class="curve">
    <div class="header-container">
      <h1 class="tracking-in-expand fade-in color-change-3x">
        Hi, I'm Peter <br />
        Rehmann. <br>
        Frontend-Developer
      </h1>
      <button>Contact</button>
    </div>


    <img class="personal-picture slide-in-blurred-right fade-in"
      src="../../../assets/img/person-transparent-background-2.png" alt="profile-img" #personalImg />
  </div>



  <!-- <a href="#work"><img class="scroll-down" src="../../../../assets/img/icons8-eingekreistes-rangabzeichen-unten-50 (1).png"></a> -->
  <a href="#work"><span class="fe-pulse">My work<fa-icon class="fa-xs " [icon]="faChevronDown"></fa-icon></span></a>


</section>
